@import "tailwindcss";

@keyframes slideDown {
  from { transform: translateY(-50px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.slide-down {
  animation: slideDown 3s ease-out;
  animation-duration: 3s;
}